<body>

<h1 style="border: 2px solid Tomato;">Hello World</h1>

<h1 style="border: 2px solid DodgerBlue;">Hello World</h1>

<h1 style="border: 2px solid Violet;">Hello World</h1>

</body>
<style>
  <style>
  #example1 {
    background-image: url(informatica.jpg)
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
}
</style>
</head>
<body>

  background-image: <img src="informatica.jpg">

div {
  background-color: green;
}

div.first {
  opacity: 0.1;
}
body {
  background-color: solid black;
}
p {
  border: 5px black;
}
</style>
</head>
<body>

<h2>The border Property</h2>

<p>This property is a shorthand property for border-width, border-style, and border-color.</p>

